spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/menu
    username: postgres
    password: Musica
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false
